n8n-email-workflow.json
{
  "name": "InspectAgents Email Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inspectagents-subscribe",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "inspectagents-subscribe"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.riskLevel}}",
              "operation": "equals",
              "value2": "high"
            }
          ]
        }
      },
      "id": "if-high-risk",
      "name": "IF High Risk",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.riskLevel}}",
              "operation": "equals",
              "value2": "medium"
            }
          ]
        }
      },
      "id": "if-medium-risk",
      "name": "IF Medium Risk",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 500]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "email",
              "value": "={{$node[\"Webhook\"].json.body.email}}"
            },
            {
              "name": "firstName",
              "value": "={{$node[\"Webhook\"].json.body.firstName || $node[\"Webhook\"].json.body.email.split('@')[0]}}"
            },
            {
              "name": "riskLevel",
              "value": "={{$node[\"Webhook\"].json.body.riskLevel}}"
            },
            {
              "name": "role",
              "value": "={{$node[\"Webhook\"].json.body.quizAnswers.role}}"
            },
            {
              "name": "biggestFears",
              "value": "={{$node[\"Webhook\"].json.body.quizAnswers.biggestFears.join(', ')}}"
            },
            {
              "name": "topPainPoints",
              "value": "={{$node[\"Webhook\"].json.body.topPainPoints.join(', ')}}"
            },
            {
              "name": "experiencedFailure",
              "value": "={{$node[\"Webhook\"].json.body.quizAnswers.experiencedFailure}}"
            },
            {
              "name": "tags",
              "value": "={{$node[\"Webhook\"].json.body.tags.join(', ')}}"
            },
            {
              "name": "timestamp",
              "value": "={{$node[\"Webhook\"].json.body.timestamp}}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{$json.email}}",
        "subject": "🚨 Your AI Risk Report + Urgent Action Steps",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #1c1917; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #059669 0%, #047857 100%); color: white; padding: 30px; text-align: center; border-radius: 8px; }\n    .content { background: #f5f5f4; padding: 30px; margin-top: 20px; border-radius: 8px; }\n    .alert { background: #fef3c7; border-left: 4px solid #f59e0b; padding: 15px; margin: 20px 0; }\n    .cta { display: inline-block; background: #059669; color: white; padding: 15px 30px; text-decoration: none; border-radius: 6px; margin: 20px 0; }\n    .footer { text-align: center; margin-top: 30px; color: #57534e; font-size: 14px; }\n    ul { padding-left: 20px; }\n    li { margin: 10px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>⚠️ High Risk Detected</h1>\n      <p>Your AI Agent Needs Immediate Attention</p>\n    </div>\n    \n    <div class=\"content\">\n      <p>Hi {{$json.firstName}},</p>\n      \n      <p><strong>Your quiz results indicate HIGH RISK.</strong> Based on your answers, your AI agent could cause serious damage if not properly tested.</p>\n      \n      <div class=\"alert\">\n        <strong>🚨 Your Top Concerns:</strong>\n        <ul>\n          <li>{{$json.topPainPoints.split(',')[0] || 'Hallucinations'}}</li>\n          <li>{{$json.topPainPoints.split(',')[1] || 'Security issues'}}</li>\n          <li>{{$json.topPainPoints.split(',')[2] || 'Reputation damage'}}</li>\n        </ul>\n      </div>\n      \n      <h2>Take Action NOW (Priority Order):</h2>\n      <ol>\n        <li><strong>Download the 50-Point AI Risk Checklist</strong> - Start with the high-priority items today</li>\n        <li><strong>Review the AI Failures Database</strong> - See what happens when testing is skipped</li>\n        <li><strong>Implement Basic Safety Checks</strong> - Hallucination detection, prompt injection tests</li>\n      </ol>\n      \n      <a href=\"https://inspectagents.com/checklist/download\" class=\"cta\">Get Your Free Checklist →</a>\n      \n      <h3>Real Cost of Inaction:</h3>\n      <ul>\n        <li>Chevrolet: $1 car chatbot disaster (prompt injection)</li>\n        <li>Air Canada: Forced to honor hallucinated fares (lawsuit lost)</li>\n        <li>Google Bard: $100B stock loss from one wrong answer</li>\n      </ul>\n      \n      <p><strong>What's Next:</strong></p>\n      <p>Over the next 5 days, I'll send you:</p>\n      <ul>\n        <li>Day 2: How to test for hallucinations (30-min guide)</li>\n        <li>Day 3: Prompt injection prevention checklist</li>\n        <li>Day 4: Security & privacy testing framework</li>\n        <li>Day 5: Production monitoring setup</li>\n      </ul>\n      \n      <p>Questions? Just reply to this email.</p>\n      \n      <p>— InspectAgents Team<br>\n      <em>Helping you deploy AI safely</em></p>\n    </div>\n    \n    <div class=\"footer\">\n      <p>InspectAgents.com | AI Safety Testing<br>\n      <a href=\"https://inspectagents.com\">Visit Site</a> | <a href=\"https://inspectagents.com/failures\">AI Failures Database</a></p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-high-risk-email",
      "name": "Send HIGH Risk Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{$json.email}}",
        "subject": "⚠️ Your AI Risk Assessment + What to Do Next",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #1c1917; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #059669 0%, #047857 100%); color: white; padding: 30px; text-align: center; border-radius: 8px; }\n    .content { background: #f5f5f4; padding: 30px; margin-top: 20px; border-radius: 8px; }\n    .cta { display: inline-block; background: #059669; color: white; padding: 15px 30px; text-decoration: none; border-radius: 6px; margin: 20px 0; }\n    .footer { text-align: center; margin-top: 30px; color: #57534e; font-size: 14px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>⚠️ Medium Risk Detected</h1>\n      <p>Let's Get Your AI Testing Right</p>\n    </div>\n    \n    <div class=\"content\">\n      <p>Hi {{$json.firstName}},</p>\n      \n      <p>Good news: You're aware of AI risks. Smart move completing the quiz.</p>\n      \n      <p><strong>Your assessment shows MEDIUM RISK.</strong> You're on the right track, but there are gaps that need attention.</p>\n      \n      <h2>Your Next Steps:</h2>\n      <ol>\n        <li>Download the 50-Point Testing Checklist</li>\n        <li>Focus on your top concerns: <strong>{{$json.topPainPoints.split(',').slice(0,2).join(', ')}}</strong></li>\n        <li>Review real failure case studies to learn what to avoid</li>\n      </ol>\n      \n      <a href=\"https://inspectagents.com/checklist/download\" class=\"cta\">Get Free Checklist →</a>\n      \n      <p><strong>Over the next week, you'll receive:</strong></p>\n      <ul>\n        <li>Practical testing guides for your specific concerns</li>\n        <li>Case studies of preventable AI failures</li>\n        <li>Step-by-step implementation checklists</li>\n      </ul>\n      \n      <p>Questions? Hit reply anytime.</p>\n      \n      <p>— InspectAgents Team</p>\n    </div>\n    \n    <div class=\"footer\">\n      <p>InspectAgents.com | AI Safety Testing</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-medium-risk-email",
      "name": "Send MEDIUM Risk Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [850, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{$json.email}}",
        "subject": "✅ Your AI Safety Checklist + Best Practices",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #1c1917; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #059669 0%, #047857 100%); color: white; padding: 30px; text-align: center; border-radius: 8px; }\n    .content { background: #f5f5f4; padding: 30px; margin-top: 20px; border-radius: 8px; }\n    .cta { display: inline-block; background: #059669; color: white; padding: 15px 30px; text-decoration: none; border-radius: 6px; margin: 20px 0; }\n    .footer { text-align: center; margin-top: 30px; color: #57534e; font-size: 14px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>✅ You're Off to a Great Start!</h1>\n      <p>Here's Your AI Safety Toolkit</p>\n    </div>\n    \n    <div class=\"content\">\n      <p>Hi {{$json.firstName}},</p>\n      \n      <p>Great to see you're thinking proactively about AI safety! Your quiz results show <strong>LOW RISK</strong> - you're ahead of most teams.</p>\n      \n      <p><strong>Let's keep it that way.</strong></p>\n      \n      <h2>Your Resources:</h2>\n      <ol>\n        <li>50-Point AI Testing Checklist (comprehensive guide)</li>\n        <li>AI Failures Database (learn from others' mistakes)</li>\n        <li>Testing guides for each risk area</li>\n      </ol>\n      \n      <a href=\"https://inspectagents.com/checklist/download\" class=\"cta\">Download Checklist →</a>\n      \n      <p><strong>This week, you'll receive:</strong></p>\n      <ul>\n        <li>Best practices from top AI teams</li>\n        <li>Case studies of what NOT to do</li>\n        <li>Advanced testing techniques</li>\n      </ul>\n      \n      <p>Stay sharp. AI safety is an ongoing practice, not a one-time check.</p>\n      \n      <p>— InspectAgents Team</p>\n    </div>\n    \n    <div class=\"footer\">\n      <p>InspectAgents.com | AI Safety Testing</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-low-risk-email",
      "name": "Send LOW Risk Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [850, 600],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "sheetId": "YOUR_SPREADSHEET_ID_HERE",
        "range": "Sheet1!A:I",
        "options": {
          "valueInputMode": "USER_ENTERED"
        },
        "values": "={{[[\"Timestamp\", \"Email\", \"First Name\", \"Risk Level\", \"Role\", \"Biggest Fears\", \"Experienced Failure\", \"Top Pain Points\", \"Tags\"]]}}\n={{[[$json.timestamp, $json.email, $json.firstName, $json.riskLevel, $json.role, $json.biggestFears, $json.experiencedFailure, $json.topPainPoints, $json.tags]]}}"
      },
      "id": "save-to-sheets",
      "name": "Save to Google Sheets (Optional)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [1050, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Thank you for subscribing!\", \"riskLevel\": $json.riskLevel } }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 500,
        "responseBody": "={{ { \"success\": false, \"error\": \"Failed to process subscription\" } }}"
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 600]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF High Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF High Risk": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Medium Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Medium Risk": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Send HIGH Risk Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send MEDIUM Risk Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send LOW Risk Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send HIGH Risk Email": {
      "main": [
        [
          {
            "node": "Save to Google Sheets (Optional)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send MEDIUM Risk Email": {
      "main": [
        [
          {
            "node": "Save to Google Sheets (Optional)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send LOW Risk Email": {
      "main": [
        [
          {
            "node": "Save to Google Sheets (Optional)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets (Optional)": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "pinData": {},
  "meta": {
    "instanceId": "inspectagents-email-capture"
  }
}
